.header{
    padding : 10px;
    font-size: 18px;
    background-color: whitesmoke;
    display : flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.header>a{
    text-decoration: none;
    color : black;
    margin-right: 1rem;
}


@media (max-width : 575px ) {
    .header{
        font-size: 25px;
    }
    .header>a{
        margin-right: 1rem;
    }
    #hide{
        display: none;
    }
}

